@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
body {
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Forum";
  width: 100%;
}
body.active {
  overflow: hidden;
}

header {
  width: 100%;
  overflow: hidden;
  height: 173vh;
}
header .header {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}
header .header__burger {
  display: none;
  position: relative;
  z-index: 999999;
}
header .header__burger span {
  width: 60px;
  height: 2px;
  background: #000;
  transition: background 0.4s ease;
}
header .header__burger span:last-child {
  margin-top: 10px;
  rotate: 0deg;
  transition: all 0.4s ease;
}
header .header__burger span:first-child {
  margin-bottom: 10px;
  width: 46px;
  rotate: 0deg;
  transition: all 0.4s ease;
}
header .header__logo {
  cursor: pointer;
  z-index: 999;
}
header .header__list ul {
  width: 60vw;
  list-style-type: none;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0;
  position: relative;
  z-index: 999;
}
header .header__list ul li {
  cursor: pointer;
}
header .header__call {
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #000;
  background: none;
  height: 100%;
  padding: 10px 20px;
  border-radius: 100px;
  margin-top: 13px;
  cursor: pointer;
  position: relative;
  z-index: 999;
  transition: color 0.3s ease;
  transition: background 0.3s ease;
  color: #000;
}
header .header__call:hover {
  transition: all 0.3s ease;
  background: #000;
  color: #fff;
}
header .header__call p {
  margin: 0;
}
header .header__text {
  color: #000;
  position: relative;
  z-index: 999;
  text-align: center;
  font-size: 21px;
  letter-spacing: 11px;
  font-weight: 400;
  top: 1vh;
}
header .header__h1 {
  position: relative;
  z-index: 2;
  color: #fff;
  top: -120px;
  top: -14vh;
  text-align: center;
  font-size: 220px;
  letter-spacing: 27px;
  line-height: 143px;
  font-style: normal;
  font-weight: 400;
}
header .header__p {
  position: relative;
  z-index: 4;
  color: #fff;
  text-align: center;
  font-size: 170px;
  letter-spacing: 8px;
  font-weight: 400;
  top: -340px;
  z-index: 6;
}
header .header__images {
  max-height: 100vh;
  position: relative;
  top: -1262px;
}
header .header__images .img1 {
  position: relative;
  z-index: 1;
  min-width: 100%;
  background: url("img/sky.png") center/cover no-repeat;
  min-height: 100vh;
}
header .header__images .img2 {
  position: relative;
  z-index: 1;
  top: -67vh;
  min-width: 100%;
  background: url("img/1.png") center/cover no-repeat;
  min-height: 100vh;
}
header .header__images .img3 {
  position: relative;
  z-index: 3;
  top: -153vh;
  max-width: 100%;
  background: url("img/2.png") center/cover no-repeat;
  min-height: 80vh;
}
header .header__images .img4 {
  position: relative;
  z-index: 7;
  top: -211vh;
  left: 166px;
  max-width: 85%;
  background: url("img/mountains.png") center/cover no-repeat;
  min-height: 53vh;
}
header .header__images .img5 {
  position: relative;
  z-index: 999;
  top: -259vh;
  max-width: 70%;
  left: 575px;
  background: url("img/Rectangle.png") center/cover no-repeat;
  min-height: 70vh;
}
header .header__images .img6 {
  position: relative;
  z-index: 999;
  top: -330vh;
  max-width: 100%;
  background: url("img/Rectangle2.png") center/cover no-repeat;
  min-height: 100vh;
}
header .header__images .img7 {
  position: relative;
  z-index: 999;
  top: -430vh;
  max-width: 100%;
  background: url("img/gradient.png") center/cover no-repeat;
  min-height: 100vh;
}
header .header__images .img8 {
  position: relative;
  z-index: 999;
  top: -540vh;
  max-width: 100%;
  background: url("img/gradient.png") center/cover no-repeat;
  min-height: 100vh;
}
header .header__images .img9 {
  position: relative;
  z-index: 999;
  top: -630vh;
  max-width: 100%;
  background: url("img/gradient.png") center/cover no-repeat;
  min-height: 100vh;
}

@media (max-width: 1399px) {
  header {
    height: 168vh;
  }
  header .header__h1 {
    top: -80px;
    font-size: 150px;
    line-height: 98px;
  }
  header .header__p {
    top: -220px;
    font-size: 120px;
  }
  header .header__images {
    top: -927px;
  }
  header .header__images .img2 {
    top: -72vh;
  }
  header .header__images .img3 {
    top: -158vh;
  }
  header .header__images .img4 {
    top: -219vh;
    left: 0;
    max-width: 100%;
  }
  header .header__images .img5 {
    top: -269vh;
    left: 0;
    max-width: 100%;
  }
  header .header__images .img6 {
    top: -335vh;
  }
  header .header__images .img7 {
    top: -435vh;
  }
  header .header__images .img8 {
    top: -545vh;
  }
  header .header__images .img9 {
    top: -635vh;
  }
}
@media (max-width: 1023px) {
  header {
    height: 165vh;
  }
  header .header {
    flex-direction: row-reverse;
  }
  header .header__h1 {
    top: -40px;
    font-size: 130px;
    line-height: 85px;
    letter-spacing: 7px;
    font-weight: 500;
  }
  header .header__p {
    top: -160px;
    font-size: 90px;
  }
  header .header__text {
    top: 7vh;
    font-size: 16px;
    letter-spacing: 6px;
  }
  header .header__images {
    top: -797px;
  }
  header .header__images .img2 {
    top: -70vh;
  }
  header .header__images .img3 {
    top: -156vh;
  }
  header .header__images .img4 {
    top: -219vh;
    left: 0;
    max-width: 100%;
  }
  header .header__images .img5 {
    top: -269vh;
    left: 0;
    max-width: 100%;
  }
  header .header__images .img6 {
    top: -335vh;
  }
  header .header__images .img7 {
    top: -435vh;
  }
  header .header__images .img8 {
    top: -545vh;
  }
  header .header__images .img9 {
    top: -635vh;
  }
  header .header__burger {
    display: block;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
  }
  header .header__burger.active span {
    background: #fff;
    transition: background 0.4s ease;
    margin-top: 13px;
  }
  header .header__burger.active span:nth-child(2) {
    display: none;
  }
  header .header__burger.active span:first-child {
    margin-bottom: 0;
    width: 60px;
    rotate: 45deg;
    transition: all 0.4s ease;
  }
  header .header__burger.active span:last-child {
    margin-top: -2px;
    rotate: -45deg;
    transition: all 0.4s ease;
  }
  header .header__burger span {
    display: block;
    transition: background 0.3s ease;
    background: #000;
  }
  header .header__list {
    overflow: hidden;
    position: fixed;
    background: #000;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 9999;
    color: #fff;
    left: 0;
    top: -1086px;
    padding-top: 150px;
    transition: top 0.4s ease;
  }
  header .header__list.active {
    transition: top 0.4s ease;
    top: 0;
  }
  header .header__list ul {
    display: block;
    margin: 0 auto;
    font-size: 30px;
  }
  header .header__list ul li {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  header {
    height: 160vh;
  }
  header .header {
    flex-direction: row-reverse;
  }
  header .header__h1 {
    top: 10px;
    font-size: 85px;
    line-height: 56px;
    letter-spacing: 7px;
    font-weight: 500;
  }
  header .header__p {
    top: -60px;
    font-size: 60px;
  }
  header .header__text {
    top: 7vh;
    font-size: 15px;
    letter-spacing: 6px;
  }
  header .header__logo img {
    width: 95px;
  }
  header .header__call {
    margin-top: 10px;
  }
  header .header__images {
    top: -627px;
  }
  header .header__images .img2 {
    top: -70vh;
  }
  header .header__images .img3 {
    top: -156vh;
  }
  header .header__images .img4 {
    top: -219vh;
    left: 0;
    max-width: 100%;
  }
  header .header__images .img5 {
    top: -269vh;
    left: 0;
    max-width: 100%;
  }
  header .header__images .img6 {
    top: -335vh;
  }
  header .header__images .img7 {
    top: -435vh;
  }
  header .header__images .img8 {
    top: -545vh;
  }
  header .header__images .img9 {
    top: -635vh;
  }
  header .header__burger {
    display: block;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
  }
  header .header__burger.active span {
    background: #fff;
    transition: background 0.4s ease;
    margin-top: 13px;
  }
  header .header__burger.active span:nth-child(2) {
    display: none;
  }
  header .header__burger.active span:first-child {
    margin-bottom: 0;
    width: 60px;
    rotate: 45deg;
    transition: all 0.4s ease;
  }
  header .header__burger.active span:last-child {
    margin-top: -2px;
    rotate: -45deg;
    transition: all 0.4s ease;
  }
  header .header__burger span {
    display: block;
    transition: background 0.3s ease;
    background: #000;
  }
  header .header__list {
    overflow: hidden;
    position: fixed;
    background: #000;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 9999;
    color: #fff;
    left: 0;
    top: -1086px;
    padding-top: 150px;
    transition: top 0.4s ease;
  }
  header .header__list.active {
    transition: top 0.4s ease;
    top: 0;
  }
  header .header__list ul {
    display: block;
    margin: 0 auto;
    font-size: 30px;
  }
  header .header__list ul li {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  header {
    height: 150vh;
  }
  header .header {
    flex-direction: row-reverse;
  }
  header .header__h1 {
    top: 20px;
    font-size: 60px;
    line-height: 39px;
    letter-spacing: 5px;
    font-weight: 500;
  }
  header .header__p {
    top: -25px;
    font-size: 45px;
  }
  header .header__text {
    top: 7vh;
    font-size: 13px;
    letter-spacing: 5px;
  }
  header .header__images {
    top: -587px;
  }
  header .header__images .img2 {
    top: -70vh;
  }
  header .header__images .img3 {
    top: -156vh;
  }
  header .header__images .img4 {
    top: -219vh;
    left: 0;
    max-width: 100%;
  }
  header .header__images .img5 {
    top: -269vh;
    left: 0;
    max-width: 100%;
  }
  header .header__images .img6 {
    top: -335vh;
  }
  header .header__images .img7 {
    top: -435vh;
  }
  header .header__images .img8 {
    top: -545vh;
  }
  header .header__images .img9 {
    top: -635vh;
  }
  header .header__burger {
    display: block;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100px;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
  }
  header .header__burger.active span {
    background: #fff;
    transition: background 0.4s ease;
    margin-top: 13px;
  }
  header .header__burger.active span:nth-child(2) {
    display: none;
  }
  header .header__burger.active span:first-child {
    margin-bottom: 0;
    width: 60px;
    rotate: 45deg;
    transition: all 0.4s ease;
  }
  header .header__burger.active span:last-child {
    margin-top: -2px;
    rotate: -45deg;
    transition: all 0.4s ease;
  }
  header .header__burger span {
    display: block;
    transition: background 0.3s ease;
    background: #000;
  }
  header .header__list {
    overflow: hidden;
    position: fixed;
    background: #000;
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 9999;
    color: #fff;
    left: 0;
    top: -1086px;
    padding-top: 150px;
    transition: top 0.4s ease;
  }
  header .header__list.active {
    transition: top 0.4s ease;
    top: 0;
  }
  header .header__list ul {
    display: block;
    margin: 0 auto;
    font-size: 30px;
  }
  header .header__list ul li {
    margin-bottom: 20px;
  }
}
::-webkit-scrollbar {
  display: none;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9999999;
  background: #fff;
}

.cssload-thecube {
  width: 77px;
  height: 77px;
  margin: 0 auto;
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(43, 160, 199);
  animation: cssload-fold-thecube 2.4s infinite linear both;
  -o-animation: cssload-fold-thecube 2.4s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.4s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.4s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.4s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
}

.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
}

.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
}

.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
}

.cssload-thecube .cssload-c2:before {
  animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}

.cssload-thecube .cssload-c3:before {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
}

.cssload-thecube .cssload-c4:before {
  animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
}

@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}
@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */